<ngb-carousel >
    <ng-template ngbSlide>
        <img src="../assets/images/badlaa.jpg" alt="Random first slide">
        <div class="carousel-caption">
          
        </div>
      </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/lukachupi.jpg" alt="Random first slide">
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/sunburn.jpg" alt="Random second slide">
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/totaldhamal.jpg" alt="Random third slide">
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/holi.jpg" alt="Random third slide">
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/indusind.jpg" alt="Random third slide">
    <div class="carousel-caption">
      
    </div>
  </ng-template>
</ngb-carousel>